<div class="container">
  <hr />
  <button class="btn btn-primary" (click)="exportarExcel()">Descargar Excel</button>
  <br />
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Numero de pago</th>
        <th scope="col">Causa</th>
        <th scope="col">Area</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of altaPensiones">
        <td>{{item.nombre}}</td>
        <td>{{item.numero_pago}}</td>
        <td>{{item.causa}}</td>
        <td>{{item.area}}</td>
      </tr>
    </tbody>
  </table>
</div>

<router-outlet></router-outlet>
